<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>
        <li<%= sidebar_current("docs-ibm-index") %>>
          <a href="/docs/providers/ibm/index.html">IBM Provider</a>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-cf") %>>
          <a href="#">Cloud Foundry Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-account") %>>
              <a href="/docs/providers/ibm/d/account.html">account</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-app") %>>
              <a href="/docs/providers/ibm/d/app.html">app</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-app-domain-private") %>>
              <a href="/docs/providers/ibm/d/app_domain_private.html">app_domain_private</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-app-domain-shared") %>>
              <a href="/docs/providers/ibm/d/app_domain_shared.html">app_domain_shared</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-app-route") %>>
              <a href="/docs/providers/ibm/d/app_route.html">app_route</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-org") %>>
              <a href="/docs/providers/ibm/d/org.html">org</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-org-quota") %>>
            <a href="/docs/providers/ibm/d/org_quota.html">org_quota</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-resource-group") %>>
              <a href="/docs/providers/ibm/d/resource_group.html">resource_group</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-resource-instance") %>>
              <a href="/docs/providers/ibm/d/resource_instance.html">resource_instance</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-resource-key") %>>
              <a href="/docs/providers/ibm/d/resource_key.html">resource_key</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-service-instance") %>>
              <a href="/docs/providers/ibm/d/service_instance.html">service_instance</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-service-key") %>>
              <a href="/docs/providers/ibm/d/service_key.html">service_key</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-service-plan") %>>
              <a href="/docs/providers/ibm/d/service_plan.html">service_plan</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-space") %>>
              <a href="/docs/providers/ibm/d/space.html">space</a>
            </li>
          </ul>
          <li<%= sidebar_current("docs-ibm-datasource-cs") %>>
            <a href="#">Container Data Sources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-ibm-datasource-container-cluster") %>>
                <a href="/docs/providers/ibm/d/container_cluster.html">container_cluster</a>
              </li>
              <li<%= sidebar_current("docs-ibm-datasource-container-cluster-config") %>>
                <a href="/docs/providers/ibm/d/container_cluster_config.html">container_cluster_config</a>
              </li>
              <li<%= sidebar_current("docs-ibm-datasource-container-cluster-worker") %>>
                <a href="/docs/providers/ibm/d/container_cluster_worker.html">container_cluster_worker</a>
              </li>
              <li<%= sidebar_current("docs-ibm-datasource-container-cluster-versions") %>>
                <a href="/docs/providers/ibm/d/container_cluster_versions.html">container_cluster_versions</a>
              </li>
            </ul>
          </li>
          <li<%= sidebar_current("docs-ibm-datasource-function") %>>
            <a href="#">Function Data Sources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-ibm-datasource-function-action") %>>
                <a href="/docs/providers/ibm/d/function_action.html">function_action</a>
              </li>
              <li<%= sidebar_current("docs-ibm-datasource-function-package") %>>
                <a href="/docs/providers/ibm/d/function_package.html">function_package</a>
              </li>
              <li<%= sidebar_current("docs-ibm-datasource-function-rule") %>>
                <a href="/docs/providers/ibm/d/function_rule.html">function_rule</a>
              </li>
              <li<%= sidebar_current("docs-ibm-datasource-function-trigger") %>>
                <a href="/docs/providers/ibm/d/function_trigger.html">function_trigger</a>
              </li>
            </ul>
          </li>
          <li<%= sidebar_current("docs-ibm-datasource-iam") %>>
            <a href="#">IAM Data Sources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-ibm-datasource-service-id") %>>
                <a href="/docs/providers/ibm/d/iam_service_id.html">service_id</a>
              </li>
            </ul>
          </li>
          <li<%= sidebar_current("docs-ibm-datasource-infra") %>>
            <a href="#">Infrastructure Data Sources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-ibm-datasource-compute-bare-metal") %>>
                <a href="/docs/providers/ibm/d/compute_bare_metal.html">compute_bare_metal</a>
              </li>
              <li<%= sidebar_current("docs-ibm-datasource-compute-image-template") %>>
                <a href="/docs/providers/ibm/d/compute_image_template.html">compute_image_template</a>
              </li>
              <li<%= sidebar_current("docs-ibm-datasource-compute-ssh-key") %>>
                <a href="/docs/providers/ibm/d/compute_ssh_key.html">compute_ssh_key</a>
              </li>
              <li<%= sidebar_current("docs-ibm-datasource-compute-vm-instance") %>>
                <a href="/docs/providers/ibm/d/compute_vm_instance.html">compute_vm_instance</a>
              </li>
              <li<%= sidebar_current("docs-ibm-datasource-dns-domain") %>>
                <a href="/docs/providers/ibm/d/dns_domain.html">dns_domain</a>
              </li>
              <li<%= sidebar_current("docs-ibm-datasource-dns-secondary") %>>
                <a href="/docs/providers/ibm/d/dns_secondary.html">dns_secondary</a>
              </li>
              <li<%= sidebar_current("docs-ibm-datasource-lbaas") %>>
                <a href="/docs/providers/ibm/d/lbaas.html">lbaas</a>
              </li>
              <li<%= sidebar_current("docs-ibm-datasource-network-vlan") %>>
                <a href="/docs/providers/ibm/d/network_vlan.html">network_vlan</a>
              </li>
              <li<%= sidebar_current("docs-ibm-datasource-security-group") %>>
                <a href="/docs/providers/ibm/d/security_group.html">security_group</a>
              </li>      
            </ul>
          </li>
          <li<%= sidebar_current("docs-ibm-resource-cf") %>>
            <a href="#">Cloud Foundry Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-ibm-resource-app") %>>
                <a href="/docs/providers/ibm/r/app.html">app</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-app-domain-private") %>>
                <a href="/docs/providers/ibm/r/app_domain_private.html">app_domain_private</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-app-domain-shared") %>>
                <a href="/docs/providers/ibm/r/app_domain_shared.html">app_domain_shared</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-app-route") %>>
                <a href="/docs/providers/ibm/r/app_route.html">app_route</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-org") %>>
              <a href="/docs/providers/ibm/r/org.html">org</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-resource-instance") %>>
                <a href="/docs/providers/ibm/r/resource_instance.html">resource_instance</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-resource-key") %>>
                <a href="/docs/providers/ibm/r/resource_key.html">resource_key</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-service-instance") %>>
                <a href="/docs/providers/ibm/r/service_instance.html">service_instance</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-service-key") %>>
                <a href="/docs/providers/ibm/r/service_key.html">service_key</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-space") %>>
                <a href="/docs/providers/ibm/r/space.html">space</a>
              </li>
            </ul>
          </li>
          <li<%= sidebar_current("docs-ibm-resource-cs") %>>
            <a href="#">Container Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-ibm-resource-container-bind-service") %>>
                <a href="/docs/providers/ibm/r/container_bind_service.html">container_bind_service</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-container-cluster") %>>
                <a href="/docs/providers/ibm/r/container_cluster.html">container_cluster</a>
              </li>
            </ul>
          </li>
          <li<%= sidebar_current("docs-ibm-resource-function") %>>
            <a href="#">Function Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-ibm-resource-function-action") %>>
                <a href="/docs/providers/ibm/r/function_action.html">function_action</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-function-package") %>>
                <a href="/docs/providers/ibm/r/function_package.html">function_package</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-function-rule") %>>
                <a href="/docs/providers/ibm/r/function_rule.html">function_rule</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-function-trigger") %>>
                <a href="/docs/providers/ibm/r/function_trigger.html">function_trigger</a>
              </li>
            </ul>
          </li>
          <li<%= sidebar_current("docs-ibm-resource-iam") %>>
            <a href="#">IAM Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-ibm-resource-service-id") %>>
                <a href="/docs/providers/ibm/r/iam_service_id.html">service_id</a>
              </li>
              </ul>
          </li>
          <li<%= sidebar_current("docs-ibm-resource-infra") %>>
            <a href="#">Infrastructure Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-ibm-resource-cdn") %>>
                <a href="/docs/providers/ibm/r/cdn.html">cdn</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-compute-autoscale-group") %>>
                <a href="/docs/providers/ibm/r/compute_autoscale_group.html">compute_autoscale_group</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-compute-autoscale-policy") %>>
                <a href="/docs/providers/ibm/r/compute_autoscale_policy.html">compute_autoscale_policy</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-compute-bare-metal") %>>
                <a href="/docs/providers/ibm/r/compute_bare_metal.html">compute_bare_metal</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-compute-dedicated-host") %>>
                <a href="/docs/providers/ibm/r/compute_dedicated_host.html">compute_dedicated_host</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-compute-monitor") %>>
                <a href="/docs/providers/ibm/r/compute_monitor.html">compute_monitor</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-compute-provisioning-hook") %>>
                <a href="/docs/providers/ibm/r/compute_provisioning_hook.html">compute_provisioning_hook</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-compute-ssh-key") %>>
                <a href="/docs/providers/ibm/r/compute_ssh_key.html">compute_ssh_key</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-compute-ssl-certificate") %>>
                <a href="/docs/providers/ibm/r/compute_ssl_certificate.html">compute_ssl_certificate</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-compute-user") %>>
                <a href="/docs/providers/ibm/r/compute_user.html">compute_user</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-compute-vm-instance") %>>
                <a href="/docs/providers/ibm/r/compute_vm_instance.html">compute_vm_instance</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-dns-domain") %>>
                <a href="/docs/providers/ibm/r/dns_domain.html">dns_domain</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-dns-reverse-record") %>>
                <a href="/docs/providers/ibm/r/dns_reverse_record.html">dns_reverse-record</a>
              </li> 
              <li<%= sidebar_current("docs-ibm-resource-dns-secondary-zone") %>>
                <a href="/docs/providers/ibm/r/dns_secondary_zone.html">dns_secondary_zone</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-dns-record") %>>
                <a href="/docs/providers/ibm/r/dns_record.html">dns_record</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-firewall") %>>
                <a href="/docs/providers/ibm/r/firewall.html">firewall</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-firewall-policy") %>>
                <a href="/docs/providers/ibm/r/firewall_policy.html">firewall_policy</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-firewall-shared") %>>
                <a href="/docs/providers/ibm/r/firewall_shared.html">firewall_shared</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-lb") %>>
                <a href="/docs/providers/ibm/r/lb.html">lb</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-lbaas") %>>
                <a href="/docs/providers/ibm/r/lbaas.html">lbaas</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-lbaas-server-instance-attachment") %>>
                <a href="/docs/providers/ibm/r/lbaas_server_instance_attachment.html">lbaas_server_instance_attachment</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-lb-service") %>>
                <a href="/docs/providers/ibm/r/lb_service.html">lb_service</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-lb-service-group") %>>
                <a href="/docs/providers/ibm/r/lb_service_group.html">lb_service_group</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-lb-vpx") %>>
                <a href="/docs/providers/ibm/r/lb_vpx.html">lb_vpx</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-lb-vpx-ha") %>>
                <a href="/docs/providers/ibm/r/lb_vpx_ha.html">lb_vpx_ha</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-lb-vpx-service") %>>
                <a href="/docs/providers/ibm/r/lb_vpx_service.html">lb_vpx_service</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-lb-vpx-vip") %>>
                <a href="/docs/providers/ibm/r/lb_vpx_vip.html">lb_vpx_vip</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-network-gateway") %>>
                <a href="/docs/providers/ibm/r/network_gateway.html">network_gateway</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-network-gateway-vlan-association") %>>
                <a href="/docs/providers/ibm/r/network_gateway_vlan_association.html">network_gateway_vlan_association</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-network-interface-sg-attachment") %>>
                <a href="/docs/providers/ibm/r/network_interface_sg_attachment.html">network_interface_sg_attachment</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-network-public-ip") %>>
                <a href="/docs/providers/ibm/r/network_public_ip.html">network_public_ip</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-network-vlan") %>>
                <a href="/docs/providers/ibm/r/network_vlan.html">network_vlan</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-object-storage-account") %>>
                <a href="/docs/providers/ibm/r/object_storage_account.html">object_storage_account</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-security-group") %>>
                <a href="/docs/providers/ibm/r/security_group.html">security_group</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-security-group-rule") %>>
                <a href="/docs/providers/ibm/r/security_group_rule.html">security_group_rule</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-storage-block") %>>
                <a href="/docs/providers/ibm/r/storage_block.html">storage_block</a>
              </li>                        
              <li<%= sidebar_current("docs-ibm-resource-storage-file") %>>
                <a href="/docs/providers/ibm/r/storage_file.html">storage_file</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-subnet") %>>
                <a href="/docs/providers/ibm/r/subnet.html">subnet</a>
              </li>
              <li<%= sidebar_current("docs-ibm-resource-ssl-certificate") %>>
                <a href="/docs/providers/ibm/r/ssl_certificate.html">ssl_certificate</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
    <%= yield %>
  <% end %>
