<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>
        <li<%= sidebar_current("docs-ibm-index") %>>
          <a href="/docs/providers/ibm/index.html">IBM Provider</a>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-api-gateway") %>>
          <a href="#">API Gateway Data Source</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-api-gateway") %>>
              <a href="/docs/providers/ibm/d/api_gateway.html">apigateway</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-certificate-manager") %>>
          <a href="#">Certificate Manager Data Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-certificate-manager-certificates") %>>
              <a href="/docs/providers/ibm/d/certificate_manager_certificates.html">certificate_manager_certificates</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-certificate-manager-certificate") %>>
              <a href="/docs/providers/ibm/d/certificate_manager_certificate.html">certificate_manager_certificate</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-cf") %>>
          <a href="#">Cloud Foundry Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-account") %>>
              <a href="/docs/providers/ibm/d/account.html">account</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-app") %>>
              <a href="/docs/providers/ibm/d/app.html">app</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-app-domain-private") %>>
              <a href="/docs/providers/ibm/d/app_domain_private.html">app_domain_private</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-app-domain-shared") %>>
              <a href="/docs/providers/ibm/d/app_domain_shared.html">app_domain_shared</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-app-route") %>>
              <a href="/docs/providers/ibm/d/app_route.html">app_route</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-org") %>>
              <a href="/docs/providers/ibm/d/org.html">org</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-org-quota") %>>
              <a href="/docs/providers/ibm/d/org_quota.html">org_quota</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-service-instance") %>>
              <a href="/docs/providers/ibm/d/service_instance.html">service_instance</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-service-key") %>>
              <a href="/docs/providers/ibm/d/service_key.html">service_key</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-service-plan") %>>
              <a href="/docs/providers/ibm/d/service_plan.html">service_plan</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-space") %>>
              <a href="/docs/providers/ibm/d/space.html">space</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-cis") %>>
          <a href="#">Cloud Internet Services Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-cis-dns-records") %>>
              <a href="/docs/providers/ibm/d/cis_dns_records.html">cis_dns_records</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-cis-healthchecks") %>>
              <a href="/docs/providers/ibm/r/cis_healthchecks.html">cis_healthchecks</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-cis") %>>
              <a href="/docs/providers/ibm/d/cis.html">cis</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-cis-domain") %>>
              <a href="/docs/providers/ibm/d/cis_domain.html">cis_domain</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-cis-firewall") %>>
              <a href="/docs/providers/ibm/d/cis_firewall.html">cis_firewall</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-cis-ip-addresses") %>>
              <a href="/docs/providers/ibm/d/cis_ip_addresses.html">cis_ip_addresses</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-cis-rate-limit") %>>
              <a href="/docs/providers/ibm/d/cis_rate_limit.html">ibm_cis_rate_limit</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-cis-edge-functions-actions") %>>
              <a href="/docs/providers/ibm/d/cis_edge_functions_actions.html">ibm_cis_edge_functions_actions</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-cis-edge-functions-triggers") %>>
              <a href="/docs/providers/ibm/d/cis_edge_functions_triggers.html">ibm_cis_edge_functions_triggers</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-cs") %>>
          <a href="#">Container Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-container-addons") %>>
              <a href="/docs/providers/ibm/d/container_addons.html">container_addons</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-container-cluster") %>>
              <a href="/docs/providers/ibm/d/container_cluster.html">container_cluster</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-container-alb") %>>
              <a href="/docs/providers/ibm/d/container_alb.html">container_alb</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-container-alb-cert") %>>
              <a href="/docs/providers/ibm/d/container_alb_cert.html">container_alb_cert</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-container-bind-service") %>>
              <a href="/docs/providers/ibm/d/container_bind_service.html">container_bind_service</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-container-cluster-config") %>>
              <a href="/docs/providers/ibm/d/container_cluster_config.html">container_cluster_config</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-container-cluster-worker") %>>
              <a href="/docs/providers/ibm/d/container_cluster_worker.html">container_cluster_worker</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-container-cluster-versions") %>>
              <a href="/docs/providers/ibm/d/container_cluster_versions.html">container_cluster_versions</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-container-vpc-alb") %>>
              <a href="/docs/providers/ibm/d/container_vpc_alb.html">container_vpc_alb</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-container-vpc-cluster") %>>
              <a href="/docs/providers/ibm/d/container_vpc_cluster.html">container_vpc_cluster</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-container-vpc-cluster-worker") %>>
              <a href="/docs/providers/ibm/d/container_vpc_cluster_worker.html">container_vpc_cluster_worker</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-container-vpc-worker-pool") %>>
              <a href="/docs/providers/ibm/d/container_vpc_worker_pool.html">container_vpc_worker_pool</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-database") %>>
          <a href="#">Database Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-database") %>>
              <a href="/docs/providers/ibm/d/database.html">database</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-dl") %>>
          <a href="#">Direct Link Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-dl-gateways") %>>
              <a href="/docs/providers/ibm/d/dl_gateways.html">dl_gateways</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-dl-offering-speeds") %>>
              <a href="/docs/providers/ibm/d/dl_offering_speeds.html">dl_offering_speeds</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-dl-routers") %>>
              <a href="/docs/providers/ibm/d/dl_routers.html">dl_routers</a>
            </li>
          </ul>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-dl-gateway") %>>
              <a href="/docs/providers/ibm/d/dl_gateway.html">dl_gateway</a>
            </li>
          </ul>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-dl-ports") %>>
              <a href="/docs/providers/ibm/d/dl_gateways.html">dl_ports</a>
            </li>
          </ul>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-dl-port") %>>
              <a href="/docs/providers/ibm/d/dl_port.html">dl_port</a>
            <li<%= sidebar_current("docs-ibm-datasource-dl-locations") %>>
              <a href="/docs/providers/ibm/d/dl_locations.html">dl_locations</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-dns") %>>
          <a href="#">Private DNS Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-dns-zones") %>>
              <a href="/docs/providers/ibm/d/private_dns_zones.html">dns_zones</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-dns-permitted-network") %>>
              <a href="/docs/providers/ibm/d/pdns_permitted_networks.html">dns_permitted_networks</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-dns-resource-records") %>>
              <a href="/docs/providers/ibm/d/private_dns_resource_records.html">dns_resource_records</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-function") %>>
          <a href="#">Function Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-function-action") %>>
              <a href="/docs/providers/ibm/d/function_action.html">function_action</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-function-package") %>>
              <a href="/docs/providers/ibm/d/function_package.html">function_package</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-function-rule") %>>
              <a href="/docs/providers/ibm/d/function_rule.html">function_rule</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-function-trigger") %>>
              <a href="/docs/providers/ibm/d/function_trigger.html">function_trigger</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-iam") %>>
          <a href="#">Identity & Access Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-iam-auth-token") %>>
              <a href="/docs/providers/ibm/d/iam_auth_token.html">iam_auth_token</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-iam-service-id") %>>
              <a href="/docs/providers/ibm/d/iam_service_id.html">iam_service_id</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-iam-service-policy") %>>
              <a href="/docs/providers/ibm/d/iam_service_policy.html">iam_service_policy</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-iam-user-policy") %>>
              <a href="/docs/providers/ibm/d/iam_user_policy.html">iam_user_policy</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-infra") %>>
          <a href="#">Clasic Infrastructure Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-compute-bare-metal") %>>
              <a href="/docs/providers/ibm/d/compute_bare_metal.html">compute_bare_metal</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-compute-image-template") %>>
              <a href="/docs/providers/ibm/d/compute_image_template.html">compute_image_template</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-compute-placement-group") %>>
              <a href="/docs/providers/ibm/d/compute_placement_group.html">compute_placement_group</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-compute-ssh-key") %>>
              <a href="/docs/providers/ibm/d/compute_ssh_key.html">compute_ssh_key</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-compute-vm-instance") %>>
              <a href="/docs/providers/ibm/d/compute_vm_instance.html">compute_vm_instance</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-dns-domain") %>>
              <a href="/docs/providers/ibm/d/dns_domain.html">dns_domain</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-dns-domain-registration") %>>
              <a href="/docs/providers/ibm/d/dns_domain_registration.html">dns_domain_registration</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-dns-secondary") %>>
              <a href="/docs/providers/ibm/d/dns_secondary.html">dns_secondary</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-lbaas") %>>
              <a href="/docs/providers/ibm/d/lbaas.html">lbaas</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-network-vlan") %>>
              <a href="/docs/providers/ibm/d/network_vlan.html">network_vlan</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-security-group") %>>
              <a href="/docs/providers/ibm/d/security_group.html">security_group</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-kp-key") %>>
          <a href="#">Key Protect Data Source</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-kp-key") %>>
              <a href="/docs/providers/ibm/d/kp_key.html">key_protect</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-resource") %>>
          <a href="#">Resource Management Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-resource-group") %>>
              <a href="/docs/providers/ibm/d/resource_group.html">resource_group</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-resource-instance") %>>
              <a href="/docs/providers/ibm/d/resource_instance.html">resource_instance</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-resource-key") %>>
              <a href="/docs/providers/ibm/d/resource_key.html">resource_key</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-resource-quota") %>>
              <a href="/docs/providers/ibm/d/resource_quota.html">resource_quota</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-schematics") %>>
          <a href="#">Schematics Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-worspace") %>>
              <a href="/docs/providers/ibm/d/schematics_workspace.html">schematics_workspace</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-state") %>>
              <a href="/docs/providers/ibm/d/schematics_state.html">schematics_state</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-output") %>>
              <a href="/docs/providers/ibm/d/schematics_output.html">schematics_output</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-cos") %>>
          <a href="#">Object Storage Data Source</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-cos-bucket") %>>
              <a href="/docs/providers/ibm/d/cos_bucket.html">cos_bucket</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-pi") %>>
          <a href="#">Power Virtual Server Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-pi-image") %>>
              <a href="/docs/providers/ibm/d/pi_image.html">pi_image</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-pi-images") %>>
              <a href="/docs/providers/ibm/d/pi_images.html">pi_images</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-pi-instance-ip") %>>
              <a href="/docs/providers/ibm/d/pi_instance_ip.html">pi_instance_ip</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-pi-instance") %>>
              <a href="/docs/providers/ibm/d/pi_instance.html">pi_instance</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-pi-key") %>>
              <a href="/docs/providers/ibm/d/pi_key.html">pi_key</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-pi-network") %>>
              <a href="/docs/providers/ibm/d/pi_network.html">pi_network</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-pi-public-network") %>>
              <a href="/docs/providers/ibm/d/pi_public_network.html">pi_public_network</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-pi-tenant") %>>
              <a href="/docs/providers/ibm/d/pi_tenant.html">pi_tenant</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-pi-volume") %>>
              <a href="/docs/providers/ibm/d/pi_volume.html">pi_volume</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-pi-instance-volumes") %>>
              <a href="/docs/providers/ibm/d/pi_instance_volumes.html">pi_instance_volumes</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-is") %>>
          <a href="#">Virtual Private Cloud Classic Services Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-is-image") %>>
              <a href="/docs/providers/ibm/d/is_image.html">is_image</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-images") %>>
              <a href="/docs/providers/ibm/d/is_images.html">is_images</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-instance-profile") %>>
              <a href="/docs/providers/ibm/d/is_instance_profile.html">is_instance_profile</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-instance-profiles") %>>
              <a href="/docs/providers/ibm/d/is_instance_profiles.html">is_instance_profiles</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-instance") %>>
              <a href="/docs/providers/ibm/d/is_instance.html">is_instance</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-instances") %>>
              <a href="/docs/providers/ibm/d/is_instances.html">is_instances</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-region") %>>
              <a href="/docs/providers/ibm/d/is_region.html">is_region</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-ssh-key") %>>
              <a href="/docs/providers/ibm/d/is_ssh_key.html">is_ssh_key</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-subnet") %>>
              <a href="/docs/providers/ibm/d/is_subnet.html">is_subnet</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-vpc") %>>
              <a href="/docs/providers/ibm/d/is_vpc.html">is_vpc</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-zone") %>>
              <a href="/docs/providers/ibm/d/is_zone.html">is_zone</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-zones") %>>
              <a href="/docs/providers/ibm/d/is_zones.html">is_zones</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-is") %>>
          <a href="#">Virtual Private Cloud NextGen Services Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-is-flow-logs") %>>
              <a href="/docs/providers/ibm/d/is_flow_logs.html">is_flow_logs</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-image") %>>
              <a href="/docs/providers/ibm/d/is_image.html">is_image</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-images") %>>
              <a href="/docs/providers/ibm/d/is_images.html">is_images</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-instance-profile") %>>
              <a href="/docs/providers/ibm/d/is_instance_profile.html">is_instance_profile</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-instance-profiles") %>>
              <a href="/docs/providers/ibm/d/is_instance_profiles.html">is_instance_profiles</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-instance") %>>
              <a href="/docs/providers/ibm/d/is_instance.html">is_instance</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-instances") %>>
              <a href="/docs/providers/ibm/d/is_instances.html">is_instances</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-region") %>>
              <a href="/docs/providers/ibm/d/is_region.html">is_region</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-ssh-key") %>>
              <a href="/docs/providers/ibm/d/is_ssh_key.html">is_ssh_key</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-subnet") %>>
              <a href="/docs/providers/ibm/d/is_subnet.html">is_subnet</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-vpc") %>>
              <a href="/docs/providers/ibm/d/is_vpc.html">is_vpc</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-zone") %>>
              <a href="/docs/providers/ibm/d/is_zone.html">is_zone</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-is-zones") %>>
              <a href="/docs/providers/ibm/d/is_zones.html">is_zones</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-datasource-tg") %>>
          <a href="#">Transit Gateway Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-datasource-tg-gateways") %>>
              <a href="/docs/providers/ibm/d/tg_gateways.html">tg_gateways</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-tg-gateway") %>>
              <a href="/docs/providers/ibm/d/tg_gateway.html">tg_gateway</a>
            </li>
            <li<%= sidebar_current("docs-ibm-datasource-tg-locations") %>>
              <a href="/docs/providers/ibm/d/tg_locations.html">tg_locations</a>
            </li>
	          <li<%= sidebar_current("docs-ibm-datasource-tg-location") %>>
              <a href="/docs/providers/ibm/d/tg_location.html">tg_location</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-api-gateway") %>>
          <a href="#">API Gateway Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-api-gateway-endpoint") %>>
              <a href="/docs/providers/ibm/r/api_gateway_endpoint.html">api_gateway_endpoint</a>
            </li>
          </ul>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-api-gateway-endpoint-subscription") %>>
              <a href="/docs/providers/ibm/r/api_gateway_endpoint_subscription.html">api_gateway_endpoint_subscription</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-cf") %>>
          <a href="#">Cloud Foundry Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-app") %>>
              <a href="/docs/providers/ibm/r/app.html">app</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-app-domain-private") %>>
              <a href="/docs/providers/ibm/r/app_domain_private.html">app_domain_private</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-app-domain-shared") %>>
              <a href="/docs/providers/ibm/r/app_domain_shared.html">app_domain_shared</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-app-route") %>>
              <a href="/docs/providers/ibm/r/app_route.html">app_route</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-org") %>>
              <a href="/docs/providers/ibm/r/org.html">org</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-service-instance") %>>
              <a href="/docs/providers/ibm/r/service_instance.html">service_instance</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-service-key") %>>
              <a href="/docs/providers/ibm/r/service_key.html">service_key</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-space") %>>
              <a href="/docs/providers/ibm/r/space.html">space</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-cis") %>>
          <a href="#">Cloud Internet Services Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-cis") %>>
              <a href="/docs/providers/ibm/r/cis.html">cis</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-cis-domain") %>>
              <a href="/docs/providers/ibm/r/cis_domain.html">cis_domain</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-cis-domain-settings") %>>
              <a href="/docs/providers/ibm/r/cis_domain_settings.html">cis_domain_settings</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-cis-dns-record") %>>
              <a href="/docs/providers/ibm/r/cis_dns_record.html">cis_dns_record</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-cis-firewall") %>>
              <a href="/docs/providers/ibm/r/cis_firewall.html">cis_firewall</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-cis-global-load-balancer") %>>
              <a href="/docs/providers/ibm/r/cis_global_load_balancer.html">cis_global_load_balancer</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-cis-healthcheck") %>>
              <a href="/docs/providers/ibm/r/cis_healthcheck.html">cis_healthcheck</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-cis-origin-pool") %>>
              <a href="/docs/providers/ibm/r/cis_origin_pool.html">cis_origin_pool</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-cis-rate-limit") %>>
              <a href="/docs/providers/ibm/r/cis_rate_limit.html">cis_rate_limit</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-cis-edge-functions-action") %>>
              <a href="/docs/providers/ibm/r/cis_edge_functions_action.html">cis_edge_functions_action</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-cis-edge-functions-trigger") %>>
              <a href="/docs/providers/ibm/r/cis_edge_functions_trigger.html">cis_edge_functions_trigger</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-cs") %>>
          <a href="#">Container Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-container-addons") %>>
              <a href="/docs/providers/ibm/r/container_addons.html">container_addons</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-container-alb") %>>
              <a href="/docs/providers/ibm/r/container_alb.html">container_alb</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-container-alb-cert") %>>
              <a href="/docs/providers/ibm/r/container_alb_cert.html">container_alb_cert</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-container-bind-service") %>>
              <a href="/docs/providers/ibm/r/container_bind_service.html">container_bind_service</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-container-cluster") %>>
              <a href="/docs/providers/ibm/r/container_cluster.html">container_cluster</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-container-cluster-feature") %>>
              <a href="/docs/providers/ibm/r/container_cluster_feature.html">container_cluster_feature</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-container-worker-pool") %>>
              <a href="/docs/providers/ibm/r/container_worker_pool.html">container_worker_pool</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-container-worker-pool-zone-attachment") %>>
              <a href="/docs/providers/ibm/r/container_worker_pool_zone_attachment.html">container_worker_pool_zone_attachment</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-container-vpc-cluster") %>>
              <a href="/docs/providers/ibm/r/container_vpc_cluster.html">container_vpc_cluster</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-container-vpc-alb") %>>
              <a href="/docs/providers/ibm/r/container_vpc_alb.html">container_vpc_alb</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-container-vpc-worker-pool") %>>
              <a href="/docs/providers/ibm/r/container_vpc_worker_pool.html">container_vpc_worker_pool</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-database") %>>
          <a href="#">Database Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-database") %>>
              <a href="/docs/providers/ibm/r/database.html">database</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-function") %>>
          <a href="#">Function Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-function-action") %>>
              <a href="/docs/providers/ibm/r/function_action.html">function_action</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-function-package") %>>
              <a href="/docs/providers/ibm/r/function_package.html">function_package</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-function-rule") %>>
              <a href="/docs/providers/ibm/r/function_rule.html">function_rule</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-function-trigger") %>>
              <a href="/docs/providers/ibm/r/function_trigger.html">function_trigger</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-iam") %>>
          <a href="#">Identity & Access Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-iam-access-group") %>>
              <a href="/docs/providers/ibm/r/iam_access_group.html">iam_access_group</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-iam-access-group-dynamic-rule") %>>
              <a href="/docs/providers/ibm/r/iam_access_group_dynamic_rule.html.html">iam_access_group_dynamic_rule</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-iam-access-group-members") %>>
              <a href="/docs/providers/ibm/r/iam_access_group_members.html">iam_access_group_members</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-iam-access-group-policy") %>>
              <a href="/docs/providers/ibm/r/iam_access_group_policy.html">iam_access_group_policy</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-iam-authorization-policy") %>>
              <a href="/docs/providers/ibm/r/iam_authorization_policy.html">iam_authorization_policy</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-iam-authorization-policy") %>>
              <a href="/docs/providers/ibm/r/iam_authorization_policy_detach.html">iam_authorization_policy_detach</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-iam-custom-role") %>>
              <a href="/docs/providers/ibm/r/iam_custom_role.html">iam_acustom_role</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-iam-service-id") %>>
              <a href="/docs/providers/ibm/r/iam_service_id.html">iam_service_id</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-iam-service-policy") %>>
              <a href="/docs/providers/ibm/r/iam_service_policy.html">iam_service_policy</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-iam-user-policy") %>>
              <a href="/docs/providers/ibm/r/iam_user_policy.html">iam_user_policy</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-iam-user-invite") %>>
              <a href="/docs/providers/ibm/r/iam_user_invite.html">iam_user_invite</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-infra") %>>
          <a href="#">Classic Infrastructure Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-cdn") %>>
              <a href="/docs/providers/ibm/r/cdn.html">cdn</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-compute-autoscale-group") %>>
              <a href="/docs/providers/ibm/r/compute_autoscale_group.html">compute_autoscale_group</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-compute-autoscale-policy") %>>
              <a href="/docs/providers/ibm/r/compute_autoscale_policy.html">compute_autoscale_policy</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-compute-bare-metal") %>>
              <a href="/docs/providers/ibm/r/compute_bare_metal.html">compute_bare_metal</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-compute-dedicated-host") %>>
              <a href="/docs/providers/ibm/r/compute_dedicated_host.html">compute_dedicated_host</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-compute-monitor") %>>
              <a href="/docs/providers/ibm/r/compute_monitor.html">compute_monitor</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-compute-placement-group") %>>
              <a href="/docs/providers/ibm/r/compute_placement_group.html">compute_placement_group</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-compute-provisioning-hook") %>>
              <a href="/docs/providers/ibm/r/compute_provisioning_hook.html">compute_provisioning_hook</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-compute-ssh-key") %>>
              <a href="/docs/providers/ibm/r/compute_ssh_key.html">compute_ssh_key</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-compute-ssl-certificate") %>>
              <a href="/docs/providers/ibm/r/compute_ssl_certificate.html">compute_ssl_certificate</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-compute-user") %>>
              <a href="/docs/providers/ibm/r/compute_user.html">compute_user</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-compute-vm-instance") %>>
              <a href="/docs/providers/ibm/r/compute_vm_instance.html">compute_vm_instance</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-dns-domain") %>>
              <a href="/docs/providers/ibm/r/dns_domain.html">dns_domain</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-dns-domain-registration-nameservers") %>>
              <a href="/docs/providers/ibm/r/dns_domain_registration_nameservers.html">dns_domain_registration_nameservers</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-dns-secondary") %>>
              <a href="/docs/providers/ibm/r/dns_secondary.html">dns_secondary</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-dns-reverse-record") %>>
              <a href="/docs/providers/ibm/r/dns_reverse_record.html">dns_reverse-record</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-dns-record") %>>
              <a href="/docs/providers/ibm/r/dns_record.html">dns_record</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-firewall") %>>
              <a href="/docs/providers/ibm/r/firewall.html">firewall</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-firewall-multivlan") %>>
              <a href="/docs/providers/ibm/r/multivlan_firewall.html">multivlan-firewall</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-firewall-policy") %>>
              <a href="/docs/providers/ibm/r/firewall_policy.html">firewall_policy</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-hardware-firewall-shared") %>>
              <a href="/docs/providers/ibm/r/hardware_firewall_shared.html">hardware_firewall_shared</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-ipsec-vpn") %>>
              <a href="/docs/providers/ibm/r/ipsec_vpn.html">ipsec_vpn</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-lb") %>>
              <a href="/docs/providers/ibm/r/lb.html">lb</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-lbaas") %>>
              <a href="/docs/providers/ibm/r/lbaas.html">lbaas</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-lbaas-health-monitor") %>>
              <a href="/docs/providers/ibm/r/lbaas_health_monitor.html">lbaas_health_monitor</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-lbaas-server-instance-attachment") %>>
              <a href="/docs/providers/ibm/r/lbaas_server_instance_attachment.html">lbaas_server_instance_attachment</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-lb-service") %>>
              <a href="/docs/providers/ibm/r/lb_service.html">lb_service</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-lb-service-group") %>>
              <a href="/docs/providers/ibm/r/lb_service_group.html">lb_service_group</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-lb-vpx") %>>
              <a href="/docs/providers/ibm/r/lb_vpx.html">lb_vpx</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-lb-vpx-ha") %>>
              <a href="/docs/providers/ibm/r/lb_vpx_ha.html">lb_vpx_ha</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-lb-vpx-service") %>>
              <a href="/docs/providers/ibm/r/lb_vpx_service.html">lb_vpx_service</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-lb-vpx-vip") %>>
              <a href="/docs/providers/ibm/r/lb_vpx_vip.html">lb_vpx_vip</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-network-gateway") %>>
              <a href="/docs/providers/ibm/r/network_gateway.html">network_gateway</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-network-gateway-vlan-association") %>>
              <a href="/docs/providers/ibm/r/network_gateway_vlan_association.html">network_gateway_vlan_association</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-network-interface-sg-attachment") %>>
              <a href="/docs/providers/ibm/r/network_interface_sg_attachment.html">network_interface_sg_attachment</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-network-public-ip") %>>
              <a href="/docs/providers/ibm/r/network_public_ip.html">network_public_ip</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-network-vlan") %>>
              <a href="/docs/providers/ibm/r/network_vlan.html">network_vlan</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-network-vlan-spanning") %>>
              <a href="/docs/providers/ibm/r/network_vlan_spanning.html">network_vlan_spanning</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-object-storage-account") %>>
              <a href="/docs/providers/ibm/r/object_storage_account.html">object_storage_account</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-security-group") %>>
              <a href="/docs/providers/ibm/r/security_group.html">security_group</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-security-group-rule") %>>
              <a href="/docs/providers/ibm/r/security_group_rule.html">security_group_rule</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-storage-block") %>>
              <a href="/docs/providers/ibm/r/storage_block.html">storage_block</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-storage-evault") %>>
              <a href="/docs/providers/ibm/r/storage_evault.html">storage_evault</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-storage-file") %>>
              <a href="/docs/providers/ibm/r/storage_file.html">storage_file</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-subnet") %>>
              <a href="/docs/providers/ibm/r/subnet.html">subnet</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-ssl-certificate") %>>
              <a href="/docs/providers/ibm/r/ssl_certificate.html">ssl_certificate</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-certificate-manager") %>>
          <a href="#">Certificate Manager Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-certificate-manager-import") %>>
              <a href="/docs/providers/ibm/r/certificate_manager_import.html">certificate_manager_import</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-certificate-manager-order") %>>
              <a href="/docs/providers/ibm/r/certificate_manager_order.html">certificate_manager_order</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-cos") %>>
          <a href="#">Object Storage Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-cos-bucket") %>>
              <a href="/docs/providers/ibm/r/cos_bucket.html">cos_bucket</a>
            </li>
          </ul>
        </li>
	      <li<%= sidebar_current("docs-ibm-resource-dl") %>>
          <a href="#">Direct Link Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-dl-gateway") %>>
              <a href="/docs/providers/ibm/r/dl_gateway.html">gateway</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-dl-virtual-connection") %>>
              <a href="/docs/providers/ibm/r/dl_virtual_connection.html">gateway virtual connection</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-tg") %>>
          <a href="#">Transit Gateway Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-tg-gateway") %>>
              <a href="/docs/providers/ibm/r/tg_gateway.html">gateway</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-tg-connection") %>>
              <a href="/docs/providers/ibm/r/tg_connection.html">gateway connection</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-dns") %>>
          <a href="#">Private DNS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-dns-zone") %>>
              <a href="/docs/providers/ibm/r/private_dns_zone.html">dns_zone</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-dns-permitted-network") %>>
              <a href="/docs/providers/ibm/r/private_dns_permitted_network.html">dns_permitted_network</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-dns-resource-record") %>>
              <a href="/docs/providers/ibm/r/private_dns_resource_record.html">dns_resource_record</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-pi") %>>
          <a href="#">Power Virtual Server Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-pi-image") %>>
              <a href="/docs/providers/ibm/r/pi_image.html">pi_image</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-pi-instance") %>>
              <a href="/docs/providers/ibm/r/pi_instance.html">pi_instance</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-pi-key") %>>
              <a href="/docs/providers/ibm/r/pi_key.html">pi_key</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-pi-network") %>>
              <a href="/docs/providers/ibm/r/pi_network.html">pi_network</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-pi-volume") %>>
              <a href="/docs/providers/ibm/r/pi_volume.html">pi_volume</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-kp-key") %>>
          <a href="#">Key Protect Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-kp-key") %>>
              <a href="/docs/providers/ibm/r/kp_key.html">key_protect</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-resource") %>>
          <a href="#">Resource Management Services Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-resource-group") %>>
              <a href="/docs/providers/ibm/r/resource_group.html">resource_group</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-resource-instance") %>>
              <a href="/docs/providers/ibm/r/resource_instance.html">resource_instance</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-resource-key") %>>
              <a href="/docs/providers/ibm/r/resource_key.html">resource_key</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-is") %>>
          <a href="#">Virtual Private Cloud Classic Services Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-is-floating-ip") %>>
              <a href="/docs/providers/ibm/r/is_floating_ip.html">is_floating_ip</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-ike-policy") %>>
              <a href="/docs/providers/ibm/r/is_ike_policy.html">is_ike_policy</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-ipsec-policy") %>>
              <a href="/docs/providers/ibm/r/is_ipsec_policy.html">is_ipsec_policy</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-instance") %>>
              <a href="/docs/providers/ibm/r/is_instance.html">is_instance</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-public-gateway") %>>
              <a href="/docs/providers/ibm/r/is_public_gateway.html">is_public_gateway</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-vpc") %>>
              <a href="/docs/providers/ibm/r/is_vpc.html">is_vpc</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-vpc-address-prefix") %>>
              <a href="/docs/providers/ibm/r/is_vpc_address_prefix.html">is_vpc_address_prefix</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-vpc-route") %>>
              <a href="/docs/providers/ibm/r/is_vpc_route.html">is_vpc_route</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-network-acl") %>>
              <a href="/docs/providers/ibm/r/is_network_acl.html">is_network_acl</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-security-group") %>>
              <a href="/docs/providers/ibm/r/is_security_group.html">is_security_group</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-security-group-rule") %>>
              <a href="/docs/providers/ibm/r/is_security_group_rule.html">is_security_group_rule</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-security-group-network-interface-attachment") %>>
              <a href="/docs/providers/ibm/r/is_security_group_network_interface_attachment.html">is_security_group_network_interface_attachment</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-subnet") %>>
              <a href="/docs/providers/ibm/r/is_subnet.html">is_subnet</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-ssh-key") %>>
              <a href="/docs/providers/ibm/r/is_ssh_key.html">is_ssh_key</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-image") %>>
              <a href="/docs/providers/ibm/r/is_images.html">is_image</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-vpn-gateway") %>>
              <a href="/docs/providers/ibm/r/is_vpn_gateway.html">is_vpn_gateway</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-vpn-gateway-connection") %>>
              <a href="/docs/providers/ibm/r/is_vpn_gateway_connection.html">is_vpn_gateway_connection</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-lb") %>>
              <a href="/docs/providers/ibm/r/is_lb.html">is_lb</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-lb-listener") %>>
              <a href="/docs/providers/ibm/r/is_lb_listener.html">is_lb_listener</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-lb-pool") %>>
              <a href="/docs/providers/ibm/r/is_lb_pool.html">is_lb_pool</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-lb-pool-member") %>>
              <a href="/docs/providers/ibm/r/is_lb_pool_member.html">is_lb_pool_member</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-volume") %>>
              <a href="/docs/providers/ibm/r/is_volume.html">is_volume</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ibm-resource-is") %>>
          <a href="#">Virtual Private Cloud NextGen Services Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ibm-resource-is-floating-ip") %>>
              <a href="/docs/providers/ibm/r/is_floating_ip.html">is_floating_ip</a>
            </li>
	          <li<%= sidebar_current("docs-ibm-resource-is-flow-log") %>>
              <a href="/docs/providers/ibm/r/is_flow_log.html">is_flow_log</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-ike-policy") %>>
              <a href="/docs/providers/ibm/r/is_ike_policy.html">is_ike_policy</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-ipsec-policy") %>>
              <a href="/docs/providers/ibm/r/is_ipsec_policy.html">is_ipsec_policy</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-instance") %>>
              <a href="/docs/providers/ibm/r/is_instance.html">is_instance</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-public-gateway") %>>
              <a href="/docs/providers/ibm/r/is_public_gateway.html">is_public_gateway</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-vpc") %>>
              <a href="/docs/providers/ibm/r/is_vpc.html">is_vpc</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-vpc-address-prefix") %>>
              <a href="/docs/providers/ibm/r/is_vpc_address_prefix.html">is_vpc_address_prefix</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-vpc-route") %>>
              <a href="/docs/providers/ibm/r/is_vpc_route.html">is_vpc_route</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-network-acl") %>>
              <a href="/docs/providers/ibm/r/is_network_acl.html">is_network_acl</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-security-group") %>>
              <a href="/docs/providers/ibm/r/is_security_group.html">is_security_group</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-security-group-rule") %>>
              <a href="/docs/providers/ibm/r/is_security_group_rule.html">is_security_group_rule</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-security-group-network-interface-attachment") %>>
              <a href="/docs/providers/ibm/r/is_security_group_network_interface_attachment.html">is_security_group_network_interface_attachment</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-subnet") %>>
              <a href="/docs/providers/ibm/r/is_subnet.html">is_subnet</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-ssh-key") %>>
              <a href="/docs/providers/ibm/r/is_ssh_key.html">is_ssh_key</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-image") %>>
              <a href="/docs/providers/ibm/r/is_images.html">is_image</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-vpn-gateway") %>>
              <a href="/docs/providers/ibm/r/is_vpn_gateway.html">is_vpn_gateway</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-vpn-gateway-connection") %>>
              <a href="/docs/providers/ibm/r/is_vpn_gateway_connection.html">is_vpn_gateway_connection</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-lb") %>>
              <a href="/docs/providers/ibm/r/is_lb.html">is_lb</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-lb-listener") %>>
              <a href="/docs/providers/ibm/r/is_lb_listener.html">is_lb_listener</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-lb-pool") %>>
              <a href="/docs/providers/ibm/r/is_lb_pool.html">is_lb_pool</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-lb-pool-member") %>>
              <a href="/docs/providers/ibm/r/is_lb_pool_member.html">is_lb_pool_member</a>
            </li>
            <li<%= sidebar_current("docs-ibm-resource-is-volume") %>>
              <a href="/docs/providers/ibm/r/is_volume.html">is_volume</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
  <%= yield %>
<% end %>
